<div class="card" style="width: 18rem;">
  <%= image_tag @dish.picture, size: 300, class: "img-thumbnail" %>
  <div class="card-body">
    <h5 class="card-title"><%= @dish.name %></h5>
    <p class="card-text">
    	<%= @dish.description %>
    	<br>
    	From: <%= @dish.restaurant.name %>
    	<br>
    	Price: <%= @dish.price %>
    </p>
  </div>
</div>

<%= link_to 'Home', restaurants_path, class: "text-dark btn btn-warning" %>